# DB_DSN="username:password@tcp(hostt:port)/dbName?parseTime=true" ## MySql connection
DB_DSN="user=postgres password=postgres dbname=boilerplate port=5432 sslmode=disable TimeZone=Asia/Jakarta" #PostgreSql connection
SIGNATURE_KEY="secret"
JWT_SECRET="secret"
JWT_EXPIRY_TIME="1h" # 1m, 1h, 1d
BASE_URL="localhost:3000"